@import "~office-ui-fabric-react/dist/sass/References.scss";

.zgnxDeptContactsShort {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .gray_bx {
    margin: 30px 0;    
   overflow: auto;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .gray_bx {
    padding: 2px;
    border-radius: 5px;
    margin: 0 5px 0 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }

  .gray_bg {
    display: flex;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
   
  }
  .gray_content h4 {
    margin: 0;
  }
  .gray_img {
    width: 70px;
    height: 70px;
    background: #898989;
    border-radius: 100px;
    // float: left;
    display: inline-block;
  }
  .gray_content {
    width: 70%;
    float: right;
    padding: 10px 0;
    margin-left: 20px;
  }

  .gray_img img {
    border-radius: 50%;
  }
  .ReadBio {
    text-decoration: underline;
    color: $ms-color-themePrimary;
    cursor: pointer;
  }
  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system,
      BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
