@import "~office-ui-fabric-react/dist/sass/References.scss";

.zgnxDeptContactsWide {
  .gray_bx {
    margin: 30px 0;
    overflow: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-content: space-between;
    max-height: 350px;
  }
  .gray_bx {
    background: #f4f4f4;
    padding: 2px;
    border-radius: 5px;
    margin: 0;
    max-width: 100%;
  }

  .gray_bg {
    display: flex;
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px 0 0;
    flex: 45%;
  }
  .gray_content h4 {
    margin: 0;
  }
  .gray_img {
    width: 70px;
    height: 70px;
    background: #898989;
    border-radius: 100px;
    display: inline-block;
    border-radius: 50%;
  }
  .gray_content {
    float: right;
    padding: 10px 0;
    margin-left: 10px;
    width: 100%;
  }

  .gray_img img {
    border-radius: 50%;
  }
}
